*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conten{
    background-color: aliceblue;
    border-radius: 25px;
    height: 300px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
}
.ran{
    text-align: center;
}